<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:fragment="currentlyV2">
    <div class="row">
        <div class="col-md-2 mb-4">
        </div>
        <div class="col-md-8 mb_4">
            <table class="table">
                <tr style="background-color: #e8e8e8">
                    <td colspan="100%" align="center">
                        <img th:src="@{'./img/weatherIcon/' + ${forecast.currently.icon} + '.png'}" class="img-small"/>
                        <comment style="font-size: 25px;font-weight: 600; column-width: 1000px; text-align: center" colspan="3" th:text="${forecast.location}" />
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 15px;font-weight: 600; column-width: 1000px;" colspan="3"><comment th:text="${forecast.currently.summary}" /></td>
                </tr>
                <tr>
                    <td class="td-width-lg">
                        <div id="thermo"></div>

                        <script type="text/javascript" th:inline="javascript">
                            var maxTemp = [[${forecast.week[0].temperatureMax}]];
                            var minTemp = [[${forecast.week[0].temperatureMin}]];
                            var currentTemp = [[${currentTemp}]];
                        </script>
                    </td>
                    <td class="td-width-lg">
                        <table class="table">
                            <tr>
                                <td class="td-width-lg">
                                    <div id="lines" style="width: 500px; height: 300px; max-width: 500px; max-height: 300px"></div>
                                    <script th:inline="javascript">
                                        var heures = [[${hoursChart}]];
                                        var temp = [[${temperatureChart}]];
                                        var apparentTemp = [[${apparentTemperatureChart}]];
                                    </script>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-2 mb-4">
        </div>
    </div>
</div>
</body>
</html>
