<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:fragment="currentInfoV2">

    <div class="row">
        <div class="col-md-3">
            <div class="outer">
                <div id="container-humidity" class="chart-container"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="outer">
                <div id="container-uv" class="chart-container"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="outer">
                <div style="margin: 25% 25% 0 25%;">
                    <img src="/img/weatherIcon/windy.png" class="img-medium">
                </div>
                <div style="text-align: center">
                    <comment th:text="${forecast.currently.windSpeed}" />m/s
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="owl-carousel">
                <div th:each="hour : ${forecast.hours}">
                    <div class="card">
                        <div class="card-body">
                            <comment th:text="${hour.time}"/>h
                            <table>
                                <tr>
                                    <td></td><td><img th:src="@{'./img/weatherIcon/' + ${hour.icon} + '.png'}" class="img-medium"/></td>
                                </tr>
                                <tr>
                                    <td>Temperature :</td><td class="hour-temperature"><comment th:text="${hour.temperature}" />°C</td>
                                </tr>
                                <tr>
                                    <td>Ressentie :</td><td class="hour-apparent-temperature"><comment th:text="${hour.apparentTemperature}"/>°C</td>
                                </tr>
                                <tr>
                                    <td>Chance de précipitation :</td><td class="hour-precip-prob"><comment th:text="${hour.precipProbability}"/>%</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript" th:inline="javascript">
        var humidity = [[${humidity}]];
        var uvIndex = [[${uvIndex}]];
    </script>
</div>
</body>
</html>