<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:fragment="currentInfoV2">

    <div class="row">
        <div class="col-md-3">
            <div class="outer">
                <div id="container-humidity" class="chart-container"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="outer">
                <div id="container-uv" class="chart-container"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="outer">
                <div style="margin: 25% 25% 0 25%;">
                    <img src="/img/weatherIcon/windy.png" class="img-medium">
                </div>
                <div style="text-align: center">
                    <comment th:text="${forecast.currently.windSpeed}" />m/s
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div id="carouselControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card">
                            <div class="card-header">
                                <comment th:text="${hours0.time}"/>h
                            </div>
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <td></td><td><img th:src="@{'./img/weatherIcon/' + ${hours0.icon} + '.png'}" class="img-medium"/></td>
                                    </tr>
                                    <tr>
                                        <td>Temperature :</td><td class="hour-temperature"><comment th:text="${hours0.temperature}" />°C</td>
                                    </tr>
                                    <tr>
                                        <td>Ressentie :</td><td class="hour-apparent-temperature"><comment th:text="${hours0.apparentTemperature}"/>°C</td>
                                    </tr>
                                    <tr>
                                        <td>Chance de précipitation :</td><td class="hour-precip-prob"><comment th:text="${hours0.precipProbability}"/>%</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="card-header">
                                <comment th:text="${hours1.time}"/>h
                            </div>
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <td></td><td><img th:src="@{'./img/weatherIcon/' + ${hours1.icon} + '.png'}" class="img-medium"/></td>
                                    </tr>
                                    <tr>
                                        <td>Temperature :</td><td class="hour-temperature"><comment th:text="${hours1.temperature}" />°C</td>
                                    </tr>
                                    <tr>
                                        <td>Ressentie :</td><td class="hour-apparent-temperature"><comment th:text="${hours1.apparentTemperature}"/>°C</td>
                                    </tr>
                                    <tr>
                                        <td>Chance de précipitation :</td><td class="hour-precip-prob"><comment th:text="${hours1.precipProbability}"/>%</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="card-header">
                                <comment th:text="${hours2.time}"/>h
                            </div>
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <td></td><td><img th:src="@{'./img/weatherIcon/' + ${hours2.icon} + '.png'}" class="img-medium"/></td>
                                    </tr>
                                    <tr>
                                        <td>Temperature :</td><td class="hour-temperature"><comment th:text="${hours2.temperature}" />°C</td>
                                    </tr>
                                    <tr>
                                        <td>Ressentie :</td><td class="hour-apparent-temperature"><comment th:text="${hours2.apparentTemperature}"/>°C</td>
                                    </tr>
                                    <tr>
                                        <td>Chance de précipitation :</td><td class="hour-precip-prob"><comment th:text="${hours2.precipProbability}"/>%</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="card-header">
                                <comment th:text="${hours3.time}"/>h
                            </div>
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <td></td><td><img th:src="@{'./img/weatherIcon/' + ${hours3.icon} + '.png'}" class="img-medium"/></td>
                                    </tr>
                                    <tr>
                                        <td>Temperature :</td><td class="hour-temperature"><comment th:text="${hours3.temperature}" />°C</td>
                                    </tr>
                                    <tr>
                                        <td>Ressentie :</td><td class="hour-apparent-temperature"><comment th:text="${hours3.apparentTemperature}"/>°C</td>
                                    </tr>
                                    <tr>
                                        <td>Chance de précipitation :</td><td class="hour-precip-prob"><comment th:text="${hours3.precipProbability}"/>%</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="card-header">
                                <comment th:text="${hours4.time}"/>h
                            </div>
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <td></td><td><img th:src="@{'./img/weatherIcon/' + ${hours4.icon} + '.png'}" class="img-medium"/></td>
                                    </tr>
                                    <tr>
                                        <td>Temperature :</td><td class="hour-temperature"><comment th:text="${hours4.temperature}" />°C</td>
                                    </tr>
                                    <tr>
                                        <td>Ressentie :</td><td class="hour-apparent-temperature"><comment th:text="${hours4.apparentTemperature}"/>°C</td>
                                    </tr>
                                    <tr>
                                        <td>Chance de précipitation :</td><td class="hour-precip-prob"><comment th:text="${hours4.precipProbability}"/>%</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="card-header">
                                <comment th:text="${hours5.time}"/>h
                            </div>
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <td></td><td><img th:src="@{'./img/weatherIcon/' + ${hours5.icon} + '.png'}" class="img-medium"/></td>
                                    </tr>
                                    <tr>
                                        <td>Temperature :</td><td class="hour-temperature"><comment th:text="${hours5.temperature}" />°C</td>
                                    </tr>
                                    <tr>
                                        <td>Ressentie :</td><td class="hour-apparent-temperature"><comment th:text="${hours5.apparentTemperature}"/>°C</td>
                                    </tr>
                                    <tr>
                                        <td>Chance de précipitation :</td><td class="hour-precip-prob"><comment th:text="${hours5.precipProbability}"/>%</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="card-header">
                                <comment th:text="${hours6.time}"/>h
                            </div>
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <td></td><td><img th:src="@{'./img/weatherIcon/' + ${hours6.icon} + '.png'}" class="img-medium"/></td>
                                    </tr>
                                    <tr>
                                        <td>Temperature :</td><td class="hour-temperature"><comment th:text="${hours6.temperature}" />°C</td>
                                    </tr>
                                    <tr>
                                        <td>Ressentie :</td><td class="hour-apparent-temperature"><comment th:text="${hours6.apparentTemperature}"/>°C</td>
                                    </tr>
                                    <tr>
                                        <td>Chance de précipitation :</td><td class="hour-precip-prob"><comment th:text="${hours6.precipProbability}"/>%</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="card-header">
                                <comment th:text="${hours7.time}"/>h
                            </div>
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <td></td><td><img th:src="@{'./img/weatherIcon/' + ${hours7.icon} + '.png'}" class="img-medium"/></td>
                                    </tr>
                                    <tr>
                                        <td>Temperature :</td><td class="hour-temperature"><comment th:text="${hours7.temperature}" />°C</td>
                                    </tr>
                                    <tr>
                                        <td>Ressentie :</td><td class="hour-apparent-temperature"><comment th:text="${hours7.apparentTemperature}"/>°C</td>
                                    </tr>
                                    <tr>
                                        <td>Chance de précipitation :</td><td class="hour-precip-prob"><comment th:text="${hours7.precipProbability}"/>%</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="card-header">
                                <comment th:text="${hours8.time}"/>h
                            </div>
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <td></td><td><img th:src="@{'./img/weatherIcon/' + ${hours8.icon} + '.png'}" class="img-medium"/></td>
                                    </tr>
                                    <tr>
                                        <td>Temperature :</td><td class="hour-temperature"><comment th:text="${hours8.temperature}" />°C</td>
                                    </tr>
                                    <tr>
                                        <td>Ressentie :</td><td class="hour-apparent-temperature"><comment th:text="${hours8.apparentTemperature}"/>°C</td>
                                    </tr>
                                    <tr>
                                        <td>Chance de précipitation :</td><td class="hour-precip-prob"><comment th:text="${hours8.precipProbability}"/>%</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:inline="javascript">
        var humidity = [[${humidity}]];
        var uvIndex = [[${uvIndex}]];
    </script>
</div>
</body>
</html>