<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:fragment="hours">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <span class="bold-span"><comment th:text="${forecast.hourSummary}" /></span>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 mb-4"></div>
        <div class="col-md-10 mb-4">
            <div class="owl-carousel">
                <div th:each="hour : ${forecast.hours}">
                    <div class="card">
                        <div class="card-header">
                            <comment th:text="${hour.time}"/>h
                        </div>
                        <div class="card-body">
                            <table>
                                <tr>
                                    <td></td><td><img th:src="@{'./img/weatherIcon/' + ${hour.icon} + '.png'}" class="img-medium"/></td>
                                </tr>
                                <tr>
                                    <td>Temperature :</td><td class="hour-temperature"><comment th:text="${hour.temperature}" />°C</td>
                                </tr>
                                <tr>
                                    <td>Ressentie :</td><td class="hour-apparent-temperature"><comment th:text="${hour.apparentTemperature}"/>°C</td>
                                </tr>
                                <tr>
                                    <td>Chance de précipitation :</td><td class="hour-precip-prob"><comment th:text="${hour.precipProbability}"/>%</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-md-1 mb-4"></div>
    </div>
    <div class="row">
        <div class="col-md-1 mb-4"></div>
        <div class="col-md-10 mb-4">
            <canvas id="myChart" width="600px" height="200px"></canvas>
            <script th:inline="javascript">
                /*<![CDATA[*/
                var ctx = document.getElementById('myChart');
                var labels = /*[[${hoursChart}]]*/ 'default';
                var chart = new Chart(ctx, {
                    // The type of chart we want to create
                    type: 'line',

                    // The data for our dataset
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Temperature evolution',
                            fill: false,
                            borderColor: 'rgb(255, 99, 132)',
                            data: /*[[${temperatureChart}]]*/ 'default'
                        }]
                    },

                    // Configuration options go here
                    options: {
                        responsive:true
                    }
                });
                /*]]>*/
            </script>
        </div>
        <div class="col-md-1 mb-4"></div>
    </div>
</div>
</body>
</html>
