<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/headerV3 :: header-css-v3"/>
</head>
<body>
<div th:fragment="hoursV3">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <span class="bold-span"><comment th:text="${forecast.hourSummary}" /></span>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div th:each="hour : ${forecast.hours}">
                <div class="card">
                    <div class="card-header">
                        <img th:src="@{'./img/weatherIcon/' + ${hour.icon} + '.png'}" class="img-small"/>
                        <a data-toggle="collapse" th:href="'#hour'+${hour.id}"><comment th:text="${hour.time}"/></span></a>
                    </div>
                    <div class="panel-collapse collapse" th:id="'hour' + ${hour.id}">
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <comment style="font-size: 15px;font-weight: 600" th:text="${hour.summary}"/>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col">
                                        <img th:src="@{'./img/weatherIcon/' + ${hour.icon} + '.png'}" class="img-big"/>
                                    </div>
                                    <div class="col col-lg-8">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">
                                                    <span class="bold-span">Temperature:</span>
                                                    <comment th:text="${hour.temperature}"/>°C
                                                </div>
                                                <div class="col">
                                                    <span class="bold-span">Ressentie:</span>
                                                    <comment th:text="${hour.apparentTemperature}"/>°C
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col">
                                                    <span class="bold-span">Couverture Nuageuse:</span>
                                                    <comment th:text="${hour.cloudCover}" />%
                                                </div>
                                                <div class="col">
                                                    <span class="bold-span">Visibilité:</span>
                                                    <comment th:text="${hour.visibility}" />+km
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col">
                                                    <span class="bold-span">Pression: </span>
                                                    <comment th:text="${hour.pressure}" />hPa
                                                </div>
                                                <div class="col">
                                                    <span class="bold-span">Humidité: </span>
                                                    <comment th:text="${hour.humidity}"/>%
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col">
                                                    <span class="bold-span">Vent:</span>
                                                    <comment th:text="${hour.windSpeed}"/>Km/h
                                                </div>
                                                <div class="col">
                                                    <span class="bold-span">Pluie:</span>
                                                    <comment th:text="${hour.precipIntensity}" />mm
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col">
                                                    <span class="bold-span">Chance de précipitation:</span>
                                                    <comment th:text="${hour.precipProbability}"/>%
                                                </div>
                                                <div class="col">
                                                    <span class="bold-span">indice UV:</span>
                                                    <comment th:if="${hour.uvIndex == 0}" th:text="${hour.uvIndex}" class="uv-low"/>
                                                    <comment th:if="${hour.uvIndex == 1}" th:text="${hour.uvIndex}" class="uv-low"/>
                                                    <comment th:if="${hour.uvIndex == 2}" th:text="${hour.uvIndex}" class="uv-low"/>
                                                    <comment th:if="${hour.uvIndex == 3}" th:text="${hour.uvIndex}" class="uv-moderate"/>
                                                    <comment th:if="${hour.uvIndex == 4}" th:text="${hour.uvIndex}" class="uv-moderate"/>
                                                    <comment th:if="${hour.uvIndex == 5}" th:text="${hour.uvIndex}" class="uv-moderate"/>
                                                    <comment th:if="${hour.uvIndex == 6}" th:text="${hour.uvIndex}" class="uv-hight"/>
                                                    <comment th:if="${hour.uvIndex == 7}" th:text="${hour.uvIndex}" class="uv-hight"/>
                                                    <comment th:if="${hour.uvIndex == 8}" th:text="${hour.uvIndex}" class="uv-very-hight"/>
                                                    <comment th:if="${hour.uvIndex == 9}" th:text="${hour.uvIndex}" class="uv-very-hight"/>
                                                    <comment th:if="${hour.uvIndex == 10}" th:text="${hour.uvIndex}" class="uv-very-hight"/>
                                                    <comment th:if="${hour.uvIndex > 10}" th:text="${hour.uvIndex}" class="uv-extrem"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>

</div>
</body>
</html>