<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <div th:replace="fragments/headerV2 :: header-css-v2"/>
</head>
<body>
<div th:replace="fragments/headerV2 :: header-v2"/>
<main>
    <div class="container-fluid">
        <div id="alertDiv">
            <th:block th:if="${message != null}">
                <!-- /* The message code is returned from the @Controller */ -->
                <div th:replace="fragments/components :: alert"/>
            </th:block>
        </div>

        <div th:if="${forecast}">
            <div th:replace="fragments/currentInfoV2 :: currentInfoV2"/>
            <br>
        </div>
    </div>
</main>
<br>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>
